.color-picker-options {
	width: 20px;
	height: 20px;
	margin: 5px;
	display: inline-block;
}

.color-picker-options.selected {
	border: 1px solid black;
	margin: 4px;
}

.color-picker-block {
	min-width: 20px;
	max-width: 120px;
	height: auto;
	background-color: white;
	margin-left: -20px;
}

.color-picker {
	display: inline-block;
	float: left;
	margin: 5px;
}

.color-picker-triangle {
	width: 0px;
	height: 0px;
	border-bottom: 11px solid white;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	margin-left: 6px;
}
